body {
    background-image: url("../images/simpsons-background.jpg");
}

h1 {
    font-size: 60px;
    font-family: 'Rock Salt', cursive;
}

.container-fluid-nav {
    color: yellow;
}

.instructions-box {
    background-color: yellow;
    opacity: .6;
    height: 100%;
}

#character-list {
    font-family: 'Rock Salt', cursive;
}

#intro-text {
    border: gray thin solid;
}